%html
  %head
    %meta{ name: "viewport", content:"width=device-width, initial-scale: 1.0" }
    %link{rel: "stylesheet", href: "/default.css"}
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js", crossorigin: "anonymous" }
  %body
    = yield
